PORT=3000
# DATABASE_URL=mongodb+srv://youssef:54871900aA@cluster0.nl0amko.mongodb.net/airbnb
DATABASE_URL=mongodb://localhost:27017/airbnb
TEST_DATABASE_URL=mongodb://localhost:27017/airbnb-test 
JWT_SECRET={justanExample}
ALLOWED_ORIGINS=["http://localhost:5173/"]
NODE_ENV="test | development"